<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Happy Birthday</title>

    <link rel="stylesheet"
          href="/css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>

</head>

<body>

    <div class="birthday-container">
        <div class="countdown-card">

            <h2>
                Birthday Countdown 🎂
            </h2>

            <div class="timer">

                <div class="time-box">
                    <span id="minuteTens">0</span>
                </div>

                <div class="time-box">
                    <span id="minuteOnes">0</span>
                </div>

                <div class="colon">:</div>

                <div class="time-box">
                    <span id="secondTens">0</span>
                </div>

                <div class="time-box">
                    <span id="secondOnes">3</span>
                </div>

            </div>

        </div>


        <div id="birthdayMessage"
             class="hidden">

            <h1>
                HAPPY BIRTHDAY NIKKKUUUU 🎉
            </h1>



            <div class="button-area">

                <button id="prankButton">
                    Do NOT Press 😶
                </button>

            </div>





            <div id="hiddenImage"
                class="hidden reveal">

                <img src="/images/herphoto.jpeg"
                    alt="Hidden">

            </div>


            <div id="secondImage"
                class="hidden reveal">

                <img src="/images/herphoto2.jpeg"
                    alt="Second">

            </div>







            <div id="finalMessage"
                class="hidden reveal">

                <h2>
                    Created specially for:
                </h2>

                <h1>
                    The most "JALHI" girl 💅
                </h1>

                <p>
                    By:
                    someone who knows ki tu kitni
                    ghamadi aurat hai orr pagal bhi 😭❤️
                </p>

                <p class="cake-line">
                    Okay now go eat cake instead of
                    judging my coding skills 🍰
                </p>

            </div>

        </div>

    </div>

    <script src="/js/birthday.js"></script>

</body>

</html>