<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Happy Birthday</title>

    <link rel="stylesheet"
          href="/css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>

</head>

<body>

    <div class="birthday-container">
       
        <div class="checking-screen">

    <h1 id="checkingText">

        CHECKING IF ITS REALLY YOU
        <span class="blink">.</span>

    </h1>

</div>

        <audio id="yeahSound">

            <source src="/audio/yeah.mp3"
                    type="audio/mp3">

        </audio>

        <div id="birthdayMessage"
             class="hidden">

            <h1>
                HAPPY BIRTHDAY NIKKKUUUU 🎉
            </h1>



            <div class="button-area">

                <button id="prankButton">
                    Do NOT Press 😶
                </button>

            </div>





            <div id="hiddenImage"
                class="hidden reveal">

                <img src="/images/herphoto1.jpeg"
                    alt="Hidden">

            </div>

            <div id="secondImage"
                class="hidden reveal">

                <img src="/images/herphoto2.jpeg"
                    alt="second">

            </div>

            <div id="thirdImage"
                class="hidden reveal">

                <img src="/images/herphoto3.jpeg"
                    alt="third">

            </div>







            <div id="finalMessage"
                class="hidden reveal">

                <h2>
                    Created specially for:
                </h2>

                <h1>
                    The most "JALHI" girl 💅
                </h1>

                <p>
                    By:
                    someone who knows ki tu kitni
                    ghamadi aurat hai orr pagal bhi 😭❤️
                </p>

                <p class="cake-line">
                    Okay now go eat cake instead of
                    judging my coding skills 🍰
                </p>

            </div>

        </div>

    </div>

    <script src="/js/birthday.js"></script>

</body>

</html>